boto3==1.35.26
pydantic==2.9.2
pyyaml==6.0.2
python-dotenv==1.0.1
# Development dependencies
black==24.10.0
flake8==7.1.1
mypy==1.12.1
pre-commit==4.0.1
types-PyYAML==6.0.12.20240917

# Documentation
mkdocs==1.6.1
mkdocs-material==9.6.23
mkdocs-mermaid2-plugin==1.2.3